name: CI

on:
  pull_request:
  push:
    paths-ignore:
    - '**.md'
    branches-ignore:
    - 'master'

jobs:
  relock:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.head_ref }}
    - uses: nixbuild/nix-quick-install-action@v34
    - run: nix flake lock
    - uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: Update flake.lock
        file_pattern: flake.lock

  nix-matrix:
    needs: relock
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - uses: nixbuild/nix-quick-install-action@v34
      - id: set-matrix
        name: Generate Nix Matrix
        run: |
          set -Eeu
          echo "matrix=$(nix eval --json '.#githubActions.matrix')" >> "$GITHUB_OUTPUT"

  build:
    needs: nix-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{fromJSON(needs.nix-matrix.outputs.matrix)}}
      fail-fast: false
    timeout-minutes: 30 # Safety net in case of hanging executable
    steps:
      - uses: actions/checkout@v6
      - uses: nixbuild/nix-quick-install-action@v34
      - uses: cachix/cachix-action@v16
        with:
          name: commercial-emacs-ci
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          useDaemon: false
      - run: nix build --accept-flake-config --system ${{matrix.system}} -L ".#githubActions.packages.${{matrix.system}}.${{ matrix.attr }}"
